<app-get-navbar></app-get-navbar>

<div *ngIf="question | async as question" class="container is-fluid questionDetails">

  <h1 *ngIf="question.status === 'DRAFT'" class="pt-2">DRAFT QUESTIONS</h1>

  <div class="section py-5">
    <div class="questionDetailsContent py-3"> <!-- Alignment fix with question list -->
      <p id="questionId">Question id : <span>{{question.id}}</span></p>

      <div *ngFor="let student of students | async" class="authorContent">
        <p *ngIf="student.id === question.studentId"><span class="authorTitle">Author : <span class="authorValue"
        >{{student.username}}</span></span>
        </p>
      </div>

      <div *ngFor="let category of categories | async" class="categoryContent">
        <p *ngIf="category.id === question.categoryId"><span class="categoryTitle">Category : <span
          class="categoryValue"
        >{{category.name}}</span></span>
        </p>
      </div>

      <p>Status : <span>{{question.status}}</span></p>
      <p>Title : <span>{{question.title}}</span></p>
      <p>Content : <span>{{question.content}}</span></p>

      <!-- Button panel -->
      <button (click)="onQuestionResponseClick()"
              *ngIf="question.status === 'PUBLISHED'"
              class="button is-small is-warning is-light">
        <span>ANSWER</span>
        <span class="icon is-small">
            <i class="fas fa-edit"></i>
          </span>
      </button>

      <button (click)="onQuestionUpdateClick(question.id)"
              *ngIf="currentUserId == question.studentId && question.status === 'DRAFT'"
              class="button is-small is-info is-light ml-1">
        <span>UPDATE</span>
        <span class="icon is-small">
            <i class="fas fa-edit"></i>
          </span>
      </button>


      <button (click)="onQuestionPublishedClick(question.id)"
              *ngIf="currentUserId == question.studentId && question.status === 'DRAFT'"
              class="button is-small is-primary is-light ml-1">
        <span>PUBLISH</span>
        <span class="icon is-small">
            <i class="fas fa-paper-plane"></i>
          </span>
      </button>

      <ul class="answerList pt-3">
        <li *ngFor="let answer of question.answers " class="answerListDetails py-3">
          <p>Answer Id : <span>{{answer.id}}</span></p>

          <div *ngFor="let student of students | async" class="authorContent">
            <p *ngIf="student.id === answer.studentId"><span class="authorTitle">Author : <span
              class="authorValue">{{student.username}}</span></span></p>
          </div>

          <p>Content : <span>{{answer.content}}</span></p>

          <!-- Button panel -->
          <button #thumbsUpBtn
                  (click)="onVoteClick(answer.id, 'up');thumbsUpBtn.disabled = true"
                  class="button is-small is-success is-light">
            <span class="icon is-small">
                <i class="fas fa-thumbs-up"></i>
            </span>
          </button>
          <button #thumbsDownBtn
                  (click)="onVoteClick(answer.id,'down');thumbsDownBtn.disabled = true"
                  class="button is-small is-danger is-light">
            <span class="icon is-small">
                <i class="fas fa-thumbs-down"></i>
            </span>
          </button>
          <span> Vote : <span>{{answer.vote}}</span></span>

          <div class="pt-1">
            <button (click)="onAnswerUpdateClick(answer.id)"
                    *ngIf="currentUserId == answer.studentId"
                    class="button is-small is-info is-light">
              <span>UPDATE</span>
              <span class="icon is-small">
                <i class="fas fa-edit"></i>
              </span>
            </button>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>
