<app-get-navbar></app-get-navbar>

<div class="container is-fluid">
  <div class="formSection section is-small">

    <h1 *ngIf="mode === 'new'" class="title is-4">New Question</h1>
    <h1 *ngIf="mode === 'update'" class="title is-4">Update Question</h1>

    <form (ngSubmit)="onSubmit()" [formGroup]="questionForm" class="formQuestion">
      <div class="formFieldsProduct py-3 pl-5">

        <!-- CATEGORY -->
        <div class="field">
          <div class="control">
            <div class="select">
              <select [ngClass]="{ 'is-invalid': submitted && field.categoryId.errors }"
                      formControlName="categoryId">
                <option hidden value="">Select category</option>
                <option *ngFor="let category of categories | async"
                        value="{{category.id}}">{{category.name}}
                </option>
              </select>
            </div>
            <div *ngIf="submitted && field.categoryId.errors" class="invalid-feedback">
              <div *ngIf="field.categoryId.errors.required" [style.color]="'red'">Category is required</div>
            </div>
          </div>
        </div>

        <!-- TITLE -->
        <div class="field">
          <div class="control">
            <input [ngClass]="{ 'is-invalid': submitted && field.title.errors }" class="input is-normal"
                   formControlName="title" placeholder="Title"
                   type="text">
            <div *ngIf="submitted && field.title.errors" class="invalid-feedback">
              <div *ngIf="field.title.errors.required" [style.color]="'red'">Title is required</div>
            </div>
          </div>
        </div>

        <!-- CONTENT -->
        <div class="field">
          <div class="control">
            <input [ngClass]="{ 'is-invalid': submitted && field.content.errors }" class="input is-normal"
                   formControlName="content" placeholder="Content"
                   type="text">
            <div *ngIf="submitted && field.content.errors" class="invalid-feedback">
              <div *ngIf="field.content.errors.required" [style.color]="'red'">Content is required</div>
            </div>
          </div>
        </div>

        <div class="field formButtonProduct">
          <p class="control">
            <button class="button is-success is-outlined">Submit</button>
            <button class="button is-info is-outlined ml-3" type="reset">Reset</button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
