<app-get-navbar></app-get-navbar>

<div class="formSection section is-small">
  <h1 *ngIf="mode === 'new'" class="title is-4">New Answer</h1>
  <h1 *ngIf="mode === 'update'" class="title is-4">Update Answer</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="answerForm" class="formAnswer">

    <div class="formFieldsAnswer py-3 pl-5">

      <div class="field">
        <div class="control">
          <input [ngClass]="{ 'is-invalid': submitted && field.content.errors }" class="input is-normal"
                 formControlName="content" placeholder="Content"
                 type="text">
          <div *ngIf="submitted && field.content.errors" class="invalid-feedback">
            <div *ngIf="field.content.errors.required" [style.color]="'red'">Content is required</div>
          </div>
        </div>
      </div>

      <div class="field formButtonAnswer">
        <p class="control">
          <button class="button is-success is-outlined">Submit</button>
          <button class="button is-info is-outlined ml-3" type="reset">Reset</button>
        </p>
      </div>
    </div>
  </form>
</div>
