<app-get-navbar></app-get-navbar>

<div *ngIf="category | async as category" class="container is-fluid categoryDetails">

  <div class="section categoryDetailsTitle">
    <p id="catId">Category id : <span>{{category.id}}</span></p>
    <p>Category name : <span>{{category.name}}</span></p>
  </div>

  <div *ngFor="let question of category.questions">
    <div *ngIf="question.status === 'PUBLISHED'" class="section categoryDetailsContent py-3">
      <p id="questionId">Question id : <span>{{question.id}}</span></p>
      <p>Status : <span>{{question.status}}</span></p>
      <p>Title : <span>{{question.title}}</span></p>
      <p>Content : <span>{{question.content}}</span></p>

      <!--Buttons panel -->
      <button (click)="onQuestionDetailsClick(question.id)" class="button is-small is-success is-light">
        <span>DETAILS</span>
        <span class="icon is-small">
            <i class="fas fa-eye"></i>
          </span>
      </button>

      <button (click)="onQuestionUpdateClick(question.id)"
              *ngIf="currentUserId == question.studentId"
              class="button is-small is-info is-light ml-1">
        <span>UPDATE</span>
        <span class="icon is-small">
            <i class="fas fa-edit"></i>
          </span>
      </button>
    </div>
  </div>
</div>
