<app-get-navbar></app-get-navbar>

<div class="container is-fluid">
  <div class="section questionList pb-5">
    <ul>
      <li *ngFor="let question of obsQuestions | async" class="questionListDetails py-3">
        <p id="questionId">N°: <span>{{question.id}}</span></p>

        <div *ngFor="let category of obsCategories | async">
          <p *ngIf="category.id === question.categoryId">Category : <span>{{category.name}}</span></p>
        </div>

        <p>Status : <span>{{question.status}}</span></p>
        <p>Title : <span>{{question.title}}</span></p>

        <!--Buttons panel -->
        <button (click)="onQuestionDetailsClick(question.id)" class="button is-small is-success is-light">
          <span>DETAILS</span>
          <span class="icon is-small">
            <i class="fas fa-eye"></i>
          </span>
        </button>

      </li>
    </ul>
  </div>
</div>
