<header>
  <nav aria-label="main navigation" class="navbar is-dark" role="navigation">
    <div class="navbar-brand">
      <!--Go to homepage-->
      <a (click)="onHomepageClick()" class="navbar-item" title="Go to Homepage">
        <img alt="navbar-logo" src="../../assets/img/logo_dark.svg" width="134"/>
      </a>

      <a
        aria-expanded="false"
        aria-label="menu"
        class="navbar-burger"
        data-target="navbarHome"
        role="button"
      >
        <span aria-hidden="false"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbarHome">
      <div class="navbar-start">

        <!--Category dropdown-->
        <div class="navbar-item has-dropdown is-hoverable">
          <a (click)="onCategoriesClick()" class="navbar-link" title="Go to category list"> Categories </a>
          <ul class="navbar-dropdown">
            <li class="navbar-item">
              <a (click)="onCreateCategoryClick()" *ngIf="isAdmin == true"
                 title="Add a category">
                <span class="far fa-plus-square"></span>
                New category
              </a>
            </li>
            <!--Visual divider-->
            <hr *ngIf="isAdmin == true" class="dropdown-divider">
            <!--Category List-->
            <li *ngFor="let category of categories | async" class="navbar-item">
              <a (click)="onCategoryClick(category.id)">{{category.name}}</a>
            </li>
          </ul>
        </div>

        <!--Questions-->
        <div class="navbar-item has-dropdown is-hoverable">
          <a (click)="onQuestionsClick()" class="navbar-link" title="Go to question list"> Questions </a>
          <ul class="navbar-dropdown">
            <li class="navbar-item">
              <a (click)="onCreateQuestionsClick()" title="Add a question">
                <span class="far fa-plus-square"></span>
                New question
              </a>
            </li>
          </ul>
        </div>

      </div>

      <div class="navbar-end pr-4">
        <!--User/Admin-->
        <span class="icon is-large">
          <a (click)="onUserClick()"
             *ngIf="isAdmin == false" class="fas fa-user fa-lg"
             id="userIcon" title="Go to user drafts"></a>
          <a (click)="onUserClick()"
             *ngIf="isAdmin == true" class="fas fa-user-ninja fa-lg"
             id="ninjaIcon" title="Go to admin"></a>
          </span>

        <!--Logout-->
        <span class="icon is-large">
          <a (click)="onLogoutClick()"
             *ngIf="isAuth == true" class="fas fa-sign-out-alt fa-lg" id="logoutIcon" title="Logout"></a>
        </span>

      </div>
    </div>
  </nav>
</header>

