/** FRAMEWORK CSS
*
* https://bulma.io/documentation/overview/start/
* https://bulma.io/documentation/
*
**/
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";

/** COLORS
*
* https://www.w3.org/wiki/CSS/Properties/color/keywords
* https://uigradients.com
*
**/
:root {
  --color0: black;
  --color1: white;
  --color2: #667eea;
}

/* HOMEPAGE */
.mainContentContainer {
  margin: 0;
  padding: 2.5rem;
}

/* NAVBAR */
#loginIcon,
#logoutIcon,
#userIcon,
#ninjaIcon {
  color: var(--color1);
}

#loginIcon:hover,
#logoutIcon:hover,
#userIcon:hover,
#ninjaIcon:hover {
  opacity: 0.75;
}

#loginIcon:visited,
#logoutIcon:visited,
#userIcon:visited,
#ninjaIcon:visited {
  color: var(--color0);
}

/* CATEGORY LIST */
.categoryList ul {
  list-style: none;
}

.categoryListDetails p span {
  color: var(--color2);
  font-weight: bold;
}

/* CATEGORY DETAILS */
.categoryDetailsTitle p span {
  font-weight: bold;
}

.categoryDetailsContent {
  padding-left: 5rem;
}

.categoryDetailsContent p span {
  color: var(--color2);
}

/* FORM CATEGORY */
.formCategory {
  display: flex;
  justify-content: left;
  min-width: 50vw;
}

.formFieldsCategory {
  display: flex;
  flex-direction: column;
  min-width: inherit;
}

/* QUESTION LIST */
.questionList ul {
  list-style: none;
}

.questionList p span {
  color: var(--color2);
}

/* QUESTION DETAILS */
.questionDetailsContent {
  padding-left: 5rem;
}

.questionDetailsContent p span {
  color: var(--color2);
}

.authorContent .authorTitle {
  color: var(--color0);
}

.authorValue {
  color: var(--color2);
}

.categoryContent .categoryTitle {
  color: var(--color0);
}

.categoryValue {
  color: var(--color2);
}
