<app-get-navbar></app-get-navbar>

<div class="container is fluid mainContentContainer">
  <h1 class="pb-5 is-size-3 has-text-centered">Site de questions / réponses de la Zenika Academy -QueueUnderStream</h1>

  <h2 class="has-text-justified">L’outil présentera des fonctionnalités similaires à une platforme de questions / réponses existantes
    sur Internet : StackOverFlow.
    L’application permettra aux élèves de l’actuelle promotion de poser des questions à ceux des
    précédentes promotions.
    Afin de faciliter la recherche des questions, un système de catégorie est à prévoir sur les questions.</h2>
</div>
