/* LOGIN */
.formSection {
  margin-top: 50vh;
  transform: translateY(-50%);
}

.formLogin {
  display: flex;
  justify-content: center;
  min-width: 25vw;
}

.formFieldsLogin {
  display: flex;
  flex-direction: column;
  min-width: inherit;
}

.formButtonLogin {
  align-self: flex-end;
}
